<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		xmlns:s="http://www.springframework.org/tags">
<head>
<meta charset="UTF-8"></meta>
<title>Login</title>
</head>
<body>

  <form method="post" class="signin" th:action="@{/security_check}">
    <div class="label">Email</div>
    <div class="labeled">
      <input id="username_or_email" name="j_username" type="text"/>
    </div>
    <div class="label">Password</div>
    <div class="labeled">
      <input id="password" name="j_password" type="password"/>
    </div>
    <input class="button" type="submit" value="Sign in" />  
  </form> 
  <form action="register">
  	<input class="button" type="submit" value="Register" />
  </form>
</body>
</html>