<!DOCTYPE html>
<html lang="en"
		xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Register</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
		<link href="css/bootstrap.min.css" th:href="@{/resources/css/issuetracker.css}" rel="stylesheet" />
		
	</head>
	<body>
		<div class="container">
			<div class="bs-example">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">Register</div>
					<div class="panel-body">
						<form class="form-horizontal" action="#" th:action="@{/registration}" th:object="${user}" method="post">
							<fieldset>
								<div class="form-group">
								<!-- Username -->
									<label class="sr-only"  for="username">Username</label>
									<div class="col-xs-4">
										<input type="text" th:field="*{userName}" class="form-control" placeholder="Enter username"/>
									<p class="help-block"><small>Username must be between 3 and 20 characters long.</small></p>
									<p class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
								</div>
							</div>
						 
							<div class="form-group">
								<!-- E-mail -->
								<label class="sr-only" for="email">E-mail</label>
								<div class="col-xs-4">
									<input type="text" th:field="*{userEmail}" class="form-control" placeholder="Enter email"/>
									<p class="help-block"><small>Please provide your E-mail</small></p>
									<p class="error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></p>
								</div>
							</div>
						 
							<div class="form-group">
								<!-- Password-->
								<label class="sr-only" for="password">Password</label>
								<div class="col-xs-4">
									<input type="password" th:field="*{password}" class="form-control" placeholder="Enter password"/>
									<p class="help-block"><small>Password should be at least 4 characters</small></p>
									<p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
								</div>
							</div>
						 
							<div class="form-group">
								<!-- Button -->
								<div class="col-xs-3">
									<button class="btn btn-default">Register</button>
								</div>
							</div>
						  </fieldset>
						</form>
											
					</div>  
				</div>
			</div>
		</div>
	</body>
</html>