<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.voropaev.issuetracker.mapper.CommentMapper">

	<resultMap id="commentResult" type="com.voropaev.issuetracker.domain.Comment">
        <id property="id" column="comment_id"/>
        <result property="commentDate" column="comment_date"/>
        <result property="commentStatus" column="comment_status"/>
        <result property="commentText" column="comment_text"/>
        <association property="user" column="user_id" javaType="com.voropaev.issuetracker.domain.User" select="com.voropaev.issuetracker.mapper.UserMapper.getUserById" />
        <association property="issue" column="issue_id" javaType="com.voropaev.issuetracker.domain.Issue" select="com.voropaev.issuetracker.mapper.IssueMapper.getIssueById" />
    </resultMap>

    <insert id="addComment" parameterType="com.voropaev.issuetracker.domain.Comment">
        INSERT INTO comments (user_id,issue_id,comment_date,comment_status,comment_text)
        VALUES (#{user.id},#{issue.id},#{commentDate},#{commentStatus},#{commentText})
    </insert>
    
    <select id="getCommentsByIssueId" parameterType="Integer" resultMap="commentResult">
    	SELECT *
    	FROM comments WHERE issue_id = #{issueId}
    </select>
    
    <delete id="deleteComment" parameterType="com.voropaev.issuetracker.domain.Comment">
    	DELETE FROM comments WHERE comments_id=#{comment.id}
    </delete>

</mapper>